<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>

</head>
<body>
<header>
    <h1 th:text="${entity.titles}">Song title</h1>
</header>

<section>
    <h2>Genre: <span th:text="${entity.genre}">Genre</span></h2>
    <h2>Year: <span th:text="${entity.releaseYear}">Year</span></h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="artist : ${entity.performers}">
            <span th:name="${artist.getId()}"  th:text="${artist.firstName} + ' ' + ${artist.lastName}"></span>
        </li>
    </ul>
</section>
</body>
</html>
